<div>
  <div class="md:grid md:grid-cols-1 md:gap-6">
    <!--- Header -->
    <div id="header" class="">
      <h1 class="text-2xl">Homework Management</h1>
      <p class="font-light text-sm">
        Easily manage your homework with simple UI management design
      </p>
      <hr class="mt-4" />
    </div>
    <br />

    <!--- Stepper -->
    <div class="">
      <ul class="stepper" data-mdb-stepper="stepper">
        <li
          [ngClass]="stepState == 1 ? 'stepper-active' : ''"
          class="stepper-step"
        >
          <div class="stepper-head">
            <span class="stepper-head-icon"> 1 </span>
            <span class="stepper-head-text">Course</span>
          </div>
        </li>
        <li
          [ngClass]="stepState == 2 ? 'stepper-active' : ''"
          class="stepper-step"
        >
          <div class="stepper-head">
            <span class="stepper-head-icon"> 2 </span>
            <span class="stepper-head-text">Homework</span>
          </div>
        </li>
        <li
          [ngClass]="stepState == 3 ? 'stepper-active' : ''"
          class="stepper-step"
        >
          <div class="stepper-head">
            <span class="stepper-head-icon"> 3 </span>
            <span class="stepper-head-text"> Images</span>
          </div>
        </li>
      </ul>
    </div>

    <!--- Form layout -->
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form [formGroup]="formObject" (ngSubmit)="onSubmit()">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-8 sm:p-6">
            <!--- Course Section -->
            <div [ngClass]="stepState == 1 ? '' : 'hidden'">
              <div id="courseSelection" class="mb-5">
                <div class="">
                  <label
                    for=""
                    class="mr-3 mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                    >Select a Course</label
                  >
                  <select
                    id=""
                    (change)="onSelectCourse($event)"
                    formControlName="course"
                    class="block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  >
                    <option value="">Choose a Course</option>
                    <option
                      *ngFor="let c of courses; let i = index"
                      [ngValue]="c"
                    >
                      {{ c.courseName }}
                    </option>
                  </select>
                </div>
              </div>

              <div
                *ngIf="
                  selectCourse != null ||
                  this.formObject.get('course').value != null
                "
                id="courseDetail"
                class="px-4 py-5 bg-white space-y-8 sm:p-6 border-2 rounded-md border-indigo-400"
              >
                <div name="course_ID" class="lg:columns-2 columns-1">
                  <div class="flex flex-col justify-center">
                    <label
                      for="company-website"
                      class="lg:flex lg:justify-center text-center items-center block text-sm font-medium text-gray-700"
                    >
                      Course
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <span
                        class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"
                      >
                        {{ selectCourse.courseId }}
                      </span>
                      <div
                        type="text"
                        name="company-website"
                        id="company-website"
                        class="focus:ring-indigo-500 focus:border-indigo-500 h-10 w-full md:w-7/12 block rounded-none rounded-r-md text-sm border-gray-300"
                        placeholder="www.example.com"
                      >
                        {{ selectCourse.courseName }}
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="w-8/12 mx-auto" />
                <div name="course_name" class="">
                  <div class="block">
                    <div
                      class="overflow-x-auto relative shadow-md sm:rounded-lg"
                    >
                      <table
                        class="w-full text-sm text-center text-gray-500 dark:text-gray-400"
                      >
                        <thead
                          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                        >
                          <tr>
                            <th scope="col" class="py-3 px-2">
                              Instructor Name
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
                          >
                            <th
                              scope="row"
                              class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            >
                              {{ selectCourse.instructor }}
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div id="isGroupWork" class="my-5">
                <div class="">
                  <label
                    for=""
                    class="mr-3 mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                    >Type of work</label
                  >
                  <select
                    id=""
                    (change)="onSelectTypeOfWork($event)"
                    class="bg-gray-50 border w-1/5 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  >
                    <option [ngValue]="0">Standalone</option>
                    <option [ngValue]="1">Group</option>
                  </select>
                </div>
              </div>
            </div>
            <!--- Homework Section -->
            <div [ngClass]="stepState == 2 ? '' : 'hidden'">
              <div class="">
                <div class="grid grid-cols-4 -mt-6">
                  <div class="col-span-4 lg:col-span-2">
                    <label
                      for="homework-title"
                      class="block text-sm font-medium text-gray-700"
                    >
                      Title
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <input
                        type="text"
                        name="company-website"
                        id="company-website"
                        formControlName="title"
                        class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md text-sm border-gray-300"
                        placeholder="Homework Title"
                      />
                    </div>
                    <span
                      *ngIf="
                        this.formObject.get('title')?.invalid &&
                        this.formObject.get('title')?.touched
                      "
                      class="text-xs font-light text-rose-500"
                      >This field can't be blank.</span
                    >
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <label
                  for="about"
                  class="block text-sm font-medium text-gray-700"
                >
                  About
                </label>
                <div class="mt-1">
                  <textarea
                    id="about"
                    name="about"
                    rows="3"
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full text-sm border border-gray-300 rounded-md"
                    placeholder="What needs to be done?"
                    formControlName="description"
                  ></textarea>
                </div>
                <span
                  *ngIf="
                    this.formObject.get('description')?.invalid &&
                    this.formObject.get('description')?.touched
                  "
                  class="text-xs font-light text-rose-500"
                  >This field can't be blank.</span
                >
              </div>
              <div class="mt-4">
                <label
                  for="company-website"
                  class="block text-sm font-medium text-gray-700"
                >
                  Deadline Date
                </label>
                <div class="lg:grid lg:grid-cols-2 lg:gap-x-10 block">
                  <div class="">
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <span
                        class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                          />
                        </svg>
                      </span>
                      <input
                        type="date"
                        name="company-website"
                        id="company-website"
                        formControlName="deadlineDate"
                        class="focus:ring-indigo-500 focus:border-indigo-500 h-10 w-full md:w-7/12 block rounded-none rounded-r-md text-sm border-gray-300"
                        placeholder=""
                      />
                    </div>
                    <p class="text-xs text-gray-500 mt-2">
                      Leave this blank, if course doesn't determine deadline yet
                    </p>
                  </div>
                  <br class="lg:hidden" />
                  <div
                    class="lg:mt-10 mt-0 flex items-center justify-center col-span-1"
                  >
                    <p class="font-bold text-sm">
                      {{
                        formObject.get("deadlineDate").value | date: "fullDate"
                      }}
                    </p>
                  </div>
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field> -->
                </div>
              </div>

              <!--- Teammate form -->
              <div *ngIf="enableGroupWorkOption" class="mt-4">
                <hr />
                <div class="flex justify-between mt-5">
                  <h1
                    class="flex items-center text-xl font-bold dark:text-white"
                  >
                    Group Management
                    <span
                      class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2"
                      >Option</span
                    >
                  </h1>
                  <a
                    name="addNewTeammate"
                    (click)="onAddNewTeammate()"
                    class="hover:cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-500 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emeral-600"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                      /></svg
                  ></a>
                </div>

                <div formArrayName="teammate">
                  <div
                    *ngFor="let tm of teammateControls; let i = index"
                    [formGroupName]="i"
                    class="mt-4"
                  >
                    <div class="columns-3">
                      <div class="col-span-1 lg:col-span-2">
                        <label
                          for="homework-title"
                          class="block text-sm  font-medium text-gray-700"
                        >
                          Prefix
                        </label>
                        <div class="mt-1 flex rounded-md">
                          <select
                            id=""
                            formControlName="prefixName"
                            (change)="onSelectPrefix($event)"
                            class="bg-gray-50 border w-5/12 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          >
                            <option [value]=""></option>
                            <option [ngValue]="'Mr.'">Mr.</option>
                            <option [ngValue]="'Ms.'">Ms.</option>
                            <option [ngValue]="'นาย'">นาย</option>
                            <option [ngValue]="'นาง'">นาง</option>
                            <option [ngValue]="'นางสาว'">นางสาว</option>
                          </select>
                        </div>
                        <span
                          *ngIf="
                            this.formObject.get('prefixName')?.invalid &&
                            this.formObject.get('prefixName')?.touched
                          "
                          class="text-xs font-light text-rose-500"
                          >This field can't be blank.</span
                        >
                      </div>
                      <div class="col-span-1 lg:col-span-2">
                        <label
                          for="homework-title"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Name
                        </label>
                        <div class="mt-1 rounded-md shadow-sm">
                          <input
                            type="text"
                            name="tm-name"
                            formControlName="name"
                            class="focus:ring-indigo-500 column-2 focus:border-indigo-500 flex-1 block w-full rounded-md text-sm border-gray-300"
                            placeholder=""
                          />
                        </div>
                        <span
                          *ngIf="
                            this.formObject.get('name')?.invalid &&
                            this.formObject.get('name')?.touched
                          "
                          class="text-xs font-light text-rose-500"
                          >This field can't be blank.</span
                        >
                      </div>
                      <div class="col-span-3 lg:col-span-2">
                        <label
                          for="homework-title"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Code
                        </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <input
                            type="text"
                            name="tm-code"
                            formControlName="tm_code"
                            class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md text-sm border-gray-300"
                            placeholder=""
                          />
                        </div>
                        <span
                          *ngIf="
                            this.formObject.get('tm_code')?.invalid &&
                            this.formObject.get('tm_code')?.touched
                          "
                          class="text-xs font-light text-rose-500"
                          >This field can't be blank.</span
                        >
                      </div>
                    </div>
                    <div class="mt-3">
                      <label
                        for="about"
                        class="block text-sm font-medium text-gray-700"
                      >
                        About
                      </label>
                      <div class="mt-1">
                        <textarea
                          id="about"
                          name="assigned"
                          rows="3"
                          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full text-sm border border-gray-300 rounded-md"
                          placeholder="What needs to be done?"
                          formControlName="assigned"
                        ></textarea>
                      </div>
                      <span
                        *ngIf="
                          this.formObject.get('assigned')?.invalid &&
                          this.formObject.get('assigned')?.touched
                        "
                        class="text-xs font-light text-rose-500"
                        >This field can't be blank.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--- Image Section -->
            <div [ngClass]="stepState == 3 ? '' : 'hidden'" class="">
              <div
                *ngIf="
                  this.formObject.get('imageUrls').value.length > 0 &&
                  this.formObject.get('imageUrls').value[0].imageUrls !== null
                "
                class="lg:w-8/12 lg:translate-x-1/4 -mt-5"
              >
                <div
                  [id]="'carousel-editor'"
                  class="carousel slide relative h-full w-full"
                  data-bs-ride="carousel"
                >
                  <div
                    class="carousel-inner relative w-full h-56 overflow-hidden rounded-lg md:h-96"
                  >
                    <div
                      *ngFor="
                        let imageSource of this.formObject.get('imageUrls')
                          .value;
                        let i = index
                      "
                      [ngClass]="i === 0 ? 'active' : ''"
                      class="carousel-item transition-all duration-700 ease-in-out z-10"
                    >
                      <img
                        [src]="imageSource.imageUrls"
                        class="aspect-viddeo-16x9 bg-contain lg:w-3/4 md:w-3/4 rounded-md mb-2 mx-auto absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                        [alt]=""
                      />
                    </div>
                  </div>
                  <button
                    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
                    type="button"
                    [attr.data-bs-target]="'#carousel-editor'"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon inline-block bg-no-repeat"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
                    type="button"
                    [attr.data-bs-target]="'#carousel-editor'"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon inline-block bg-no-repeat"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div formArrayName="imageUrls">
                <div class="flex justify-between mt-3">
                  <label
                    for="about"
                    class="block text-sm font-medium text-gray-700"
                  >
                    URLs
                    <p class="text-xs font-light text-slate-500">
                      If you don't have any image for insert, just left it by
                      default.
                    </p>
                  </label>
                  <a
                    name="addNewImageUrl"
                    (click)="onAddNewImageUrl()"
                    class="hover:cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-emerald-500 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emeral-600"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-4 w-4"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                      />
                    </svg>
                  </a>
                </div>
                <div class="flex justify-between mt-2">
                  <label class="block">
                    <span class="sr-only text-sm">Choose File</span>
                    <input
                      type="file"
                      (change)="onFileSelected($event)"
                      name="image"
                      class="block w-full text-xs text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
                    />
                  </label>
                  <a
                    class="md:text-sm cursor-pointer text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    (click)="onUpload()"
                    >Upload</a
                  >
                </div>
                <div
                  *ngFor="let c of controls; let i = index"
                  [formGroupName]="i"
                  class="mt-3"
                >
                  <div class="flex rounded-md shadow-sm">
                    <div class="mt-2 w-full flex rounded-md shadow-sm">
                      <button
                        (click)="onRemoveImageControl(i)"
                        type="button"
                        class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-red-300 bg-red-300 hover:bg-red-500 hover:border-red-500 text-white text-sm"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      </button>
                      <input
                        type="text"
                        name="company-website"
                        id="company-website"
                        formControlName="imageUrls"
                        class="focus:ring-indigo-500 focus:border-indigo-500 h-10 w-full block rounded-none rounded-r-md text-sm border-gray-300"
                        placeholder="www.example.com"
                      />
                    </div>
                  </div>
                </div>
                <span
                  *ngIf="
                    this.formObject.get('imageUrls').invalid &&
                    this.formObject.get('imageUrls')?.touched
                  "
                  class="text-xs font-light text-rose-500 mt-3"
                  >URLs pattern are invalid!</span
                >
              </div>
            </div>
          </div>
          <div class="flex bg-gray-50 flex-row-reverse justify-between">
            <div *ngIf="stepState != 3" class="px-4 py-3 text-right sm:px-6">
              <button
                (click)="onNextStep()"
                type="button"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </button>
            </div>
            <div *ngIf="stepState == 3" class="px-4 py-3 sm:px-6">
              <button
                [disabled]="this.formObject.invalid"
                type="submit"
                class="disabled:opacity-75 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm md:text-sm text-xs font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
                  />
                </svg>
                Save
              </button>
            </div>
            <div *ngIf="stepState != 1" class="px-4 py-3 text-left sm:px-6">
              <button
                (click)="onPreviousStep()"
                type="button"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
